
@font-face {font-family: "SourceHanSansCN";
  src: url('./SourceHanSansCN-Normal.ttf') format('truetype');
}
.content p {
  font-family:"SourceHanSansCN" !important;
  font-size: 1.1rem;
}
.comments p {
	font-family:"SourceHanSansCN" !important;
	font-size: 0.9rem;
}
