
@font-face {font-family: "SourceHanSansCN";
  src: url('./SourceHanSansCN-Normal.ttf') format('truetype');
}
.content p:not(.description){
  font-family:"SourceHanSansCN" !important;
  font-size: 1rem;
}
.comments p {
	font-family:"SourceHanSansCN" !important;
	font-size: 1rem;
}
.content strong {
    font-family: "SourceHanSansCN" !important;
    font-size: 1.1rem;
    font-weight: bold;
    color: #555;
}